<html>
<head>
  <title>Explore</title>
</head>
<body>
<app-header></app-header>

<div class="container-fluid">

  <div id="collection1" class="row">

    <div class="col-lg-2">
      <div class="row" (click)="onClick()">

        <div class="col-lg-2">
          <img src="../../assets/distance.jpg" width="300" height="300">
        </div>

        <div class="col-2">
          <img class="mid" src="../../assets/doctors%20corona.jpg" width="180" height="150">
          <img class="mid" src="../../assets/homeshelter.jpg" width="180" height="150">
        </div>

      </div>
    </div>

    <div class="col-lg-2">

    </div>

    <div class="col-lg-2">
      <div class="row" (click)="onClick()">

        <div class="col-2">
          <img src="../../assets/pizza.jpg" width="300" height="300">
        </div>

        <div class="col-2">
          <img class="mid" src="../../assets/diet.jpg" width="180" height="150">
          <img class="mid" src="../../assets/sushi.jpg" width="180" height="150">
        </div>

      </div>
    </div>

    <div class="col-lg-2">

    </div>

    <div class="col-lg-2">
      <div class="row" (click)="onClick()">

        <div class="col-2">
          <img src="../../assets/salad.jpg" width="300" height="300">
        </div>

        <div class="col-2">
          <img class="mid" src="../../assets/diet.jpg" width="180" height="150">
          <img class="mid" src="../../assets/homeshelter.jpg" width="180" height="150">
        </div>

      </div>
    </div>

  </div>

  <div id="collection2" class="row">
    <div class="col-lg-2">
      <div class="row" (click)="onClick()">
        <div class="col-2">
          <img src="../../assets/dollar.jpg" width="300" height="300">
        </div>
        <div class="col-2">
          <img class="mid" src="../../assets/coins.jpg" width="180" height="150">
          <img class="mid" src="../../assets/toman.jpg" width="180" height="150">
        </div>
      </div>
    </div>

    <div class="col-lg-2">

    </div>

    <div class="col-lg-2">
      <div class="row" (click)="onClick()">
        <div class="col-2">
          <img src="../../assets/distance.jpg" width="300" height="300">
        </div>
        <div class="col-2">
          <img class="mid" src="../../assets/diet.jpg" width="180" height="150">
          <img class="mid" src="../../assets/homeshelter.jpg" width="180" height="150">
        </div>
      </div>

    </div>

    <div class="col-lg-2">

    </div>

    <div class="col-lg-2">
      <div class="row" (click)="onClick()">
        <div class="col-2">
          <img src="../../assets/dollar.jpg" width="300" height="300">
        </div>
        <div class="col-2">
          <img class="mid" src="../../assets/coins.jpg" width="180" height="150">
          <img class="mid" src="../../assets/toman.jpg" width="180" height="150">
        </div>
      </div>
    </div>

  </div>

</div>

</body>
</html>
