<mat-toolbar>
  <a class="btn-link" id="firtLink" [routerLink]="['/']">Why Persian News</a>
  <a class="btn-link" [routerLink]="['/team']">Team</a>
  <a class="btn-link" [routerLink]="['/explore']">Explore</a>
  <a class="btn-link" [routerLink]="['/contactUs']">Contact us</a>

  <label>
    <input class="mat-input-element" placeholder="Search...">
  </label>
  <mat-icon>Search</mat-icon>
  <a class="btn-link" [routerLink]="['/login']">Sign in</a>
  <a class="btn-link" [routerLink]="['/register']">Sign up</a>
</mat-toolbar>
